In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic-passenger-survival-dataset/titanic_custom_3000x24_generated.csv

In [4]:
import pandas as pd
data1 = pd.read_csv("/kaggle/input/titanic-passenger-survival-dataset/titanic_custom_3000x24_generated.csv")
data1
df1 = pd.DataFrame(data1)
df1
df1.head()
df1.tail()
df1.sort_index(axis=0,ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title,Deck,FarePerPerson,HasCabin,AgeBin,FareBin,NameLength,CabinKnown,SexBinary,Embarked_C
2999,3000,1,1,John Doe,male,55.787277,2,1,A/5 21171,49.035509,...,Mr,E,12.258877,1,3,2,8,1,1,1
2998,2999,1,3,John Doe,male,21.331871,1,0,A/5 21171,96.063328,...,Mr,G,48.031664,1,2,4,8,1,1,1
2997,2998,0,3,John Doe,male,60.766548,0,0,A/5 21171,52.423134,...,Mr,C,52.423134,1,4,2,8,1,1,0
2996,2997,0,1,John Doe,male,29.734316,1,2,A/5 21171,54.542044,...,Mr,C,13.635511,1,2,2,8,1,1,0
2995,2996,0,3,John Doe,male,45.909304,1,0,A/5 21171,25.309619,...,Mr,G,12.654810,1,3,0,8,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,0,2,John Doe,male,51.190544,3,2,A/5 21171,61.334749,...,Mr,E,10.222458,1,3,2,8,1,1,0
3,4,0,1,John Doe,female,43.292474,1,0,A/5 21171,16.253199,...,Mr,E,8.126599,1,3,0,8,1,0,0
2,3,0,1,John Doe,female,56.821726,0,2,A/5 21171,29.460960,...,Mr,G,9.820320,1,3,1,8,1,0,1
1,2,1,2,John Doe,female,14.074482,1,2,A/5 21171,11.609064,...,Mr,C,2.902266,1,1,0,8,1,0,0
0,1,0,2,John Doe,female,34.997376,2,0,A/5 21171,71.726904,...,Mr,C,23.908968,1,2,3,8,1,0,0

In [5]:
df1.dtypes
dates = pd.date_range("20260321", periods=5)
dates
pd.Series(dates)
df2=pd.DataFrame(dates)
df2.T

df1.dropna(inplace=True)
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title,Deck,FarePerPerson,HasCabin,AgeBin,FareBin,NameLength,CabinKnown,SexBinary,Embarked_C
0,1,0,2,John Doe,female,34.997376,2,0,A/5 21171,71.726904,...,Mr,C,23.908968,1,2,3,8,1,0,0
1,2,1,2,John Doe,female,14.074482,1,2,A/5 21171,11.609064,...,Mr,C,2.902266,1,1,0,8,1,0,0
2,3,0,1,John Doe,female,56.821726,0,2,A/5 21171,29.460960,...,Mr,G,9.820320,1,3,1,8,1,0,1
3,4,0,1,John Doe,female,43.292474,1,0,A/5 21171,16.253199,...,Mr,E,8.126599,1,3,0,8,1,0,0
4,5,0,2,John Doe,male,51.190544,3,2,A/5 21171,61.334749,...,Mr,E,10.222458,1,3,2,8,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,0,3,John Doe,male,45.909304,1,0,A/5 21171,25.309619,...,Mr,G,12.654810,1,3,0,8,1,1,0
2996,2997,0,1,John Doe,male,29.734316,1,2,A/5 21171,54.542044,...,Mr,C,13.635511,1,2,2,8,1,1,0
2997,2998,0,3,John Doe,male,60.766548,0,0,A/5 21171,52.423134,...,Mr,C,52.423134,1,4,2,8,1,1,0
2998,2999,1,3,John Doe,male,21.331871,1,0,A/5 21171,96.063328,...,Mr,G,48.031664,1,2,4,8,1,1,1
2999,3000,1,1,John Doe,male,55.787277,2,1,A/5 21171,49.035509,...,Mr,E,12.258877,1,3,2,8,1,1,1